/* CSS definition file containing sitestyle stylesheets */
BODY { font-family: Arial,Helvetica,Geneva,Sans-serif,sans-serif; background-color: rgb(212,223,255); background-image: none;}
 A:active { color: rgb(255,0,0);}
 A:link { color: rgb(0,51,204);}
 A:visited { color: rgb(153,0,153);}
 P { font-size: 14px;}
 .TextNavBar { font-size: xx-small;}
 A:hover { color: rgb(255,0,0);}
 